[submodule "aurora-support"]
	path = aurora-support
	url = git@github.com:twtyjvkg/aurora-support.git
[submodule "hap-support"]
	path = hap-support
	url = git@github.com:twtyjvkg/hap-support.git
[submodule "hzero-support"]
	path = hzero-support
	url = git@github.com:twtyjvkg/hzero-support.git
